
.lemon-all {
	font-family: inherit;
}

/*----------------------------------------------------*/
/*  Clear Floats
/*----------------------------------------------------*/
.lemon-clear-floats { clear: both }
.lemon-clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/*----------------------------------------------------*/
/*  Spacing
/*----------------------------------------------------*/
.lemon-spacing { display: block; height: auto; margin: 0 !important; padding: 0 !important; background: none !important; border: none !important; outline: none !important; }

/*----------------------------------------------------*/
/*  Columns
/*----------------------------------------------------*/
.lemon-one-half { width: 48% }
.lemon-one-third { width: 30.66% }
.lemon-two-third { width: 65.33% }
.lemon-one-fourth { width: 22% }
.lemon-three-fourth { width: 74% }
.lemon-one-fifth { width: 16.8% }
.lemon-two-fifth { width: 37.6% }
.lemon-three-fifth { width: 58.4% }
.lemon-one-sixth { width: 13.33% }
.lemon-one-half, .lemon-one-third, .lemon-two-third, .lemon-three-fourth, .lemon-one-fourth, .lemon-one-fifth, .lemon-two-fifth, .lemon-three-fifth, .lemon-one-sixth { position: relative; margin-right: 4%; margin-bottom: 2em; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.lemon-column-last { margin-right: 0!important; clear: right; }
.lemon-column-last:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }

/*----------------------------------------------------*/
/*  Buttons
/*----------------------------------------------------*/
.lemon-button { 
	margin: 20px 5px 5px 0; 
	cursor: pointer; 
	display: inline-block; 
	white-space: nowrap; 
	text-align: center; 
	outline: none; 
	border-radius: 3px; 
	background: #aaaaaa; 
	text-decoration: none !important; 
	-o-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}
.lemon-button span.lemon-button-inner { 
	font-family: inherit; 
	display: block; 
	color: #fff; 
	font-weight: inherit;
	font-size: 14px; 
    padding: 0.625rem 1.25rem 0.6875rem;
	line-height: normal; 
	text-decoration: none; 
	text-align: center; 
	white-space: nowrap;   
}
.lemon-button:focus, .lemon-button:hover, .lemon-button:active { opacity: 0.8; }

.lemon-button.black { background: #3c5166; }
.lemon-button.red { background: #e74c3c; }
.lemon-button.orange { background: #e67e22; }
.lemon-button.blue { background: #3498db;}
.lemon-button.green { background: #2ecc71; }
.lemon-button.white { background: #ecf0f1; }
.lemon-button.white span.lemon-button-inner { color: #95a5a6;}

.lemon-button.large { font-size: 16px }
.lemon-button.giant { font-size: 18px }
.lemon-button.left { float: left }
.lemon-button.right { float: right; margin-right: 0; margin-left: 5px; }

/*----------------------------------------------------*/
/*  Highlights
/*----------------------------------------------------*/
.lemon-highlight-yellow, .lemon-highlight-yellow a { background-color: #FFF7A8; color: #695D43; }
.lemon-highlight-blue, .lemon-highlight-blue a { color: #5091b2; background: #e9f7fe; }
.lemon-highlight-green, .lemon-highlight-green a { color: #5f9025; background: #ebf6e0; }
.lemon-highlight-red, .lemon-highlight-red a { color: #de5959; background: #ffe9e9; }
.lemon-highlight-gray, .lemon-highlight-gray a { color: #666; background: #f9f9f9; }

/*----------------------------------------------------*/
/*  Boxes
/*----------------------------------------------------*/
.lemon-box { display: block; padding: 10px 20px; margin: 10px 0px; font-size: 14px; font-weight: 600;
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
}
.lemon-box p:last-child { margin: 0 }

.lemon-box.left { float: left }
.lemon-box.right { float: right }

.lemon-box.gray { color: #666; background: #f9f9f9; border: 1px solid #ddd; }
.lemon-box.red { color: #de5959; background: #ffe9e9; border: 1px solid #fbc4c4; }
.lemon-box.green { color: #5f9025; background: #ebf6e0; border: 1px solid #b3dc82; }
.lemon-box.blue { color: #5091b2; background: #e9f7fe; border: 1px solid #b6d7e8; }
.lemon-box.yellow { color: #c4690e; background: #fffdf3; border: 1px solid #f2dfa4; }

/*----------------------------------------------------*/
/*  Toggle
/*----------------------------------------------------*/
.lemon-toggle .lemon-toggle-trigger { 
	display: block; 
	color: #333333; 
	display: block; 
	padding: 15px 15px 15px 37px; 
	border: 1px solid #DFDFDF;
	position: relative;
	background: #fbfbfb; 
	outline: 0; 
	text-transform: none; 
	letter-spacing: normal; 
	font-weight: normal; 
	font-size: 14px; 
	line-height: 1.5em; 
	margin: 0; 
	margin-top: 10px; 
	cursor: pointer; 
}
.lemon-toggle .lemon-toggle-trigger:before {
	content: "\f067"; 
	font-family: FontAwesome; 
	font-style: normal; 
	font-weight: normal;
	color: #cccccc; 
	font-size: 15px; 
	padding-left: 1em; 
	position: absolute; 
	top: 15px; 
	left: 0;
}
.lemon-toggle .lemon-toggle-trigger:hover { border: 1px solid #c5c5c5; text-decoration: none; }
.lemon-toggle .lemon-toggle-trigger.active, .lemon-toggle .lemon-toggle-trigger.active:hover { 
	color: #333333; 
	background-color: #fbfbfb; 
	position: relative;
	text-decoration: none; 
}
.lemon-toggle .lemon-toggle-trigger.active:before {
	content: "\f068"; 
	font-family: FontAwesome; 
	font-style: normal; 
	font-weight: normal;
	color: #cccccc; 
	font-size: 15px; 
	padding-left: 1em; 
	position: absolute; 
	top: 15px; 
	left: 0;
}
.lemon-toggle .lemon-toggle-container { 
	display: none; 
	overflow: hidden; 
	padding: 15px; 
	border: 1px solid #ddd; 
	border-top: 0px; 
	font-size:14px;
}
.lemon-toggle .lemon-toggle-container p {font-size:14px;padding:10px 20px 0;}

/*----------------------------------------------------*/
/*  Tabs
/*----------------------------------------------------*/
.lemon-tabs ul.ui-tabs-nav { display: block; margin: 0; padding: 0; border-bottom: solid 1px #ddd; margin-left: 1px; }
.lemon-tabs ul.ui-tabs-nav li { display: block; width: auto; height: 40px; padding: 0 !important; float: left !important; margin: 0 !important; outline: none; }
.lemon-tabs ul.ui-tabs-nav li a { 
	display: block; 
	text-decoration: none; 
	width: auto; 
	height: 40px; 
	padding: 0px 20px; 
	line-height: 40px; 
	border: solid 1px #ddd; 
	border-width: 1px 1px 0 0; 
	margin: 0; 
	background-color: #FBFBFB; 
	font-size: 14px; 
	color: #444; 
	outline: none; 
}
.lemon-tabs ul.ui-tabs-nav li a:hover { color: #373737; background: #ffffff; }
.lemon-tabs ul.ui-tabs-nav .ui-state-active a { 
	background: #fff; 
	height: 40px; 
	position: relative; 
	top: 1px; 
	padding-top: 0px; 
	border-left-width: 1px; 
	margin: 0 0 0 -1px; 
	color: #111 !important; 
	-moz-border-radius-topleft: 2px; 
	-webkit-border-top-left-radius: 2px; 
	border-top-left-radius: 2px; 
	-moz-border-radius-topright: 2px; 
	-webkit-border-top-right-radius: 2px; 
	border-top-right-radius: 2px; 
}
.lemon-tabs ul.ui-tabs-nav .ui-state-active a:hover { background: #fff }
.lemon-tabs ul.ui-tabs-nav li:first-child .ui-state-active a { margin-left: 0 }
.lemon-tabs ul.ui-tabs-nav li:first-child a { border-width: 1px 1px 0 1px }
.lemon-tabs .tab-content { background: #fff; padding: 30px 20px 0; border-left: solid 1px #ddd; border-right: solid 1px #ddd; border-bottom: solid 1px #ddd;	font-size: 14px;  }
.lemon-tabs ul.tabs:before, ul.tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;  }
.lemon-tabs ul.tabs:after { clear: both }
.lemon-tabs ul.tabs { zoom: 1 }
.lemon-tabs .ui-tabs-hide { display: none }
.lemon-tabs:before, ul.lemon-tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.lemon-tabs:after { clear: both }
.lemon-tabs { zoom: 1 }
.lemon-tabs .ui-tabs-hide { display: none }

.lemon-tabs .ui-widget-header {
background: none;
border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: none;
background: none;
font-weight: 300;
color: #333;
}


/*----------------------------------------------------*/
/*  Donation Tabs
/*----------------------------------------------------*/
.ui-widget-content {
	border:none;
}
.lemon-donation-tabs {
	width: 310px;
}
.lemon-donation-tabs p {
	margin-bottom: .5rem;
}
.lemon-donation-tabs .lemon_donation_header{
	height: 65px;
	background-color: #34495e;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 18px;
	padding-top: 18px;
	border-radius: 3px 3px 0 0;
}
.lemon-donation-tabs ul.ui-tabs-nav { 
	display: block; 
	margin: 0; 
	padding: 0; 
	margin-left: 1px; 
	border-top: 1px solid #ffffff;
}
.lemon-donation-tabs ul.ui-tabs-nav li { 
	display: block; 
	width: 33.333333333%; 
	height: 75px; 
	padding: 0 !important; 
	float: left !important; 
	margin: 0 !important; 
	outline: none; 
}
.lemon-donation-tabs ul.ui-tabs-nav li a { 
	font-size: 14px; 
	color: #34495e; 
	display: block; 
	text-decoration: none; 
	text-transform: uppercase;
	text-align: center;
	background-color: #f9fafc; 
	width: auto;
	height: 75px; 
	padding: 0 0; 
	margin: 0; 
	outline: none; 
}

.lemon-donation-tabs ul.ui-tabs-nav li a span {
	position: relative;
	top: 30px;
}

.lemon-donation-tabs ul.ui-tabs-nav .ui-state-active a { 
	background: #dcdcdc; 
	height: 75px; 
	position: relative; 
	padding-top: 0px; 
	color: #34495e !important; 
	font-weight: 300;
}
.lemon-donation-tabs ul.ui-tabs-nav li a:hover {
	background: #e4e4e4; 
	color: #34495e;
}
/* .lemon-donation-tabs ul.ui-tabs-nav .ui-state-active a:hover {} */
.lemon-donation-tabs ul.ui-tabs-nav li:first-child .ui-state-active a { margin-left: 0 }
.lemon-donation-tabs ul.ui-tabs-nav li:first-child a { border-width: 1px 1px 0 1px }
.lemon-donation-tabs .tab-content { 
	height: 320px;
	overflow: hidden;
	background: #f6f6f6; 
	padding: 30px 20px 0; 
	font-size: 14px;  
}
.lemon-donation-tabs ul.tabs:before, ul.tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0;  }
.lemon-donation-tabs ul.tabs:after { clear: both }
.lemon-donation-tabs ul.tabs { zoom: 1 }
.lemon-donation-tabs .ui-tabs-hide { display: none }
.lemon-donation-tabs:before, ul.lemon-donation-tabs:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.lemon-donation-tabs:after { clear: both }
.lemon-donation-tabs { zoom: 1 }
.lemon-donation-tabs .ui-tabs-hide { display: none }

  /* force a height so the tabs don't jump as content height changes */
  .lemon-donation-tabs .tabs-spacer { float: left; height: 200px; }
  .tabs-bottom .ui-tabs-nav { clear: left; padding: 0 .2em .2em .2em;border:none; }
  .tabs-bottom .ui-tabs-nav li { top: auto; bottom: 0; margin: 0 .2em 1px 0; border:none; }
  .tabs-bottom .ui-tabs-nav li.ui-tabs-active { margin-top: -1px; padding-top: 1px; }

.lemon-donation-tabs .button {
    border-radius: 4px;
    font-size: 13px;
    padding: 0.3rem 1.25rem 0.4rem;
    display: inline-block;
    background-color: #1ABC9C;
    color: #FFFFFF;
    cursor: pointer;
	margin: 1.25rem 0;
    position: relative;
    float: right;
    text-align: center;
    text-decoration: none;
    transition: background-color 300ms ease-out 0s;
}
.lemon-donation-tabs .button:focus, .lemon-donation-tabs .button:hover {
	background-color: #15967D;
}

/*----------------------------------------------------*/
/*  Google Map
/*----------------------------------------------------*/
.googlemap { position: relative; max-width: inherit; }
.googlemap .map_canvas { width: 100%; height: 100%; }
.googlemap .map_canvas h3 { margin: 0 0 10px; font-size: 14px; }
.map_canvas img { max-width: none !important }

/*----------------------------------------------------*/
/*  Progress Bar
/*----------------------------------------------------*/
.lemon-progressbar { position: relative; display: block; margin-bottom: 15px; width: 100%; background: #eee; height: 35px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; -webkit-transition: 0.4s linear; -moz-transition: 0.4s linear; -ms-transition: 0.4s linear; -o-transition: 0.4s linear; transition: 0.4s linear; -webkit-transition-property: width, background-color; -moz-transition-property: width, background-color; -ms-transition-property: width, background-color; -o-transition-property: width, background-color; transition-property: width, background-color; }
.lemon-progressbar-title { position: absolute; top: 0; left: 0; font-weight: bold; font-size: 13px; color: #fff; background: #6adcfa; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 4px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.lemon-progressbar-title span { display: block; background: rgba(0,0,0,0.1); padding: 0 20px; height: 35px; line-height: 35px; -webkit-border-top-left-radius: 3px; -webkit-border-bottom-left-radius: 3px; -moz-border-radius-topleft: 3px; -moz-border-radius-bottomleft: 3px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.lemon-progressbar-bar { height: 35px; width: 0px; background: #6adcfa; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.lemon-progress-bar-percent { position: absolute; right: 10px; top: 0; font-size: 11px; height: 35px; line-height: 35px; color: #444; color: rgba(0,0,0,0.4); }

/*----------------------------------------------------*/
/*  Icons
/*----------------------------------------------------*/
.fa.pull-center {
	margin:0 auto;
	display: table!important;
}

/*----------------------------------------------------*/
/*  Responsive
/*----------------------------------------------------*/
@media only screen and (max-width: 520px) { 
	.lemon-one-half, .lemon-one-third, .lemon-two-third, .lemon-three-fourth, .lemon-one-fourth, .lemon-one-fifth, .lemon-two-fifth, .lemon-three-fifth, .lemon-one-sixth { width: 100%; float: none; margin-right: 0; margin-bottom: 20px; }
	.lemon-box, .lemon-box.left, .lemon-box.right { float: none; width: 100% !important; }
	.lemon-tabs ul.ui-tabs-nav { margin-left: 0 }
	.lemon-tabs ul.ui-tabs-nav li { width: 100% }
	.lemon-tabs ul.ui-tabs-nav li a { border-left-width: 1px }
	.lemon-tabs ul.ui-tabs-nav .ui-state-active a, .lemon-tabs ul.ui-tabs-nav .ui-state-active a:hover { height: 39px; padding-top: 0; margin-left: 0; top: auto; background-color: #eee; color: #000; font-weight: bold; }

}
.lemon-hidden-desktop,
.lemon-visible-phone,
.lemon-visible-tablet { display: none }
@media only screen and (max-width: 959px) {
	.lemon-hidden-desktop { display: block }
	.lemon-visible-desktop { display: none }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.lemon-hidden-desktop { display: block }
	.lemon-visible-desktop { display: none }
	.lemon-hidden-tablet { display: none }
}
@media only screen and (max-width: 767px) {
	.lemon-hidden-desktop { display: block }
	.lemon-visible-desktop { display: none }
	.lemon-hidden-phone { display: none }
}
