body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote th, td {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

table, thead, tbody, tfoot, tr, th, td {
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
	border: none;
	border-collapse: inherit;
	border-spacing: 0;
	border-color: inherit;
	vertical-align: inherit;
	text-align: left;
	font-weight: inherit;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

ul {
	list-style-type: none;
}

li {
	list-style-type: none;
}

p>ul>li {
	list-style-type: disc;
}

p>ol>li {
	list-style-type: decimal;
}

ol {
	margin-left: 20px;
	margin-bottom: 10px;
}

img {
	border: 0 !important;
	outline: none;
}

html {
	margin: 0;
	height: 100%;
}

a {
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
	outline: none;
	border: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:focus {
	outline: none !important;
}

input {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	outline: none;
}

.clear:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	display: block;
	pointer-events: none;
}

html[xmlns] .clear {
	display: block;
}

* html .clear {
	height: 1%;
}

/*div			{ position: relative; }*/

li a {
	text-decoration: none;
}

/********** BOOTSTRAP RESET/EXTRA ***********/

.navbar, .breadcrumb, .panel, .panel-footer, .panel-heading, .panel-body, .img-thumbnail {
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	padding-right: 20px;
	padding-left: 20px;
}

.row {
	margin-right: -20px;
	margin-left: -20px;
}

.equal {
	display: -webkit-flex;
	display: flex;
}

/*********** CUSTOM COLOMS ************/

.col-5, .col-10, .col-20, .col-30, .col-40, .col-50, .col-60, .col-70, .col-80, .col-90, .col-100, .col-15, .col-25, .col-35, .col-45, .col-55, .col-65, .col-75, .col-85, .col-95, .col-12, .col-17, .col-22, .col-27, .col-32, .col-37, .col-42, .col-47, .col-52, .col-57, .col-62, .col-67, .col-72, .col-77, .col-82, .col-87, .col-92, .col-97 {
	float: left;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-10 {
	padding-left: 1px;
	padding-right: 1px;
}

.col-5 {
	width: 5%;
}

.col-10 {
	width: 10%;
}

.col-12 {
	width: 12.5%;
}

.col-15 {
	width: 15%;
}

.col-17 {
	width: 17.5%;
}

.col-20 {
	width: 20%;
}

.col-22 {
	width: 22.5%;
}

.col-25 {
	width: 25%;
}

.col-27 {
	width: 27.5%;
}

.col-30 {
	width: 30%;
}

.col-32 {
	width: 32.5%;
}

.col-35 {
	width: 35%;
}

.col-37 {
	width: 37.5%;
}

.col-40 {
	width: 40%;
}

.col-42 {
	width: 42.5%;
}

.col-45 {
	width: 45%;
}

.col-47 {
	width: 47.5%;
}

.col-50 {
	width: 50%;
}

.col-52 {
	width: 52.5%;
}

.col-55 {
	width: 55%;
}

.col-57 {
	width: 57.5%;
}

.col-60 {
	width: 60%;
}

.col-62 {
	width: 62.5%;
}

.col-65 {
	width: 65%;
}

.col-67 {
	width: 67.5%;
}

.col-70 {
	width: 70%;
}

.col-72 {
	width: 72.5%;
}

.col-75 {
	width: 75%;
}

.col-77 {
	width: 77.5%;
}

.col-80 {
	width: 80%;
}

.col-82 {
	width: 82.5%;
}

.col-85 {
	width: 85%;
}

.col-87 {
	width: 87.5%;
}

.col-90 {
	width: 90%;
}

.col-92 {
	width: 92.5%;
}

.col-95 {
	width: 95%;
}

.col-97 {
	width: 97.5%;
}

.col-100 {
	width: 100%;
}

/*************** FONTS ****************/

/*			500,700			'Palanquin Dark'
				600					'Palanquin'
				400					'Noto Sans'				*/

.tribe-events-list-separator-month, h1 {
	font: normal normal 18px/24px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 0 0 0 0;
}

h2 {
	font: normal normal 18px/24px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 0 0 0 0;
}

.breadcrumb h2 {
	color: #ffffff;
}

h2 a {
	text-decoration: none;
}

.widget_banner h3, .widget_banner h3 span, h3 {
	font: normal normal 18px/24px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 0 0 1px 0;
}

/* was 2px bottom */

.content h3 {
	padding: 0 0 2px 0;
}

h3.panel-title {
	font: normal normal 18px/24px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 0 0 0 0;
}

.has_icon h3 {
	font: normal normal 16px/20px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 0 0 0 0;
}

.quote h3 {
	font: normal 700 42px/42px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 0 0 20px 0;
}

h4 {
	font: normal normal 18px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 5px 0 8px 0;
	border-top: 1px solid #444444;
	border-bottom: 1px solid #444444;
	margin-top: 6px;
	margin-bottom: 10px;
}

h4.noborder {
	padding: 0 0 2px 0;
	border-top: 0 solid #444444;
	border-bottom: 0 solid #444444;
	margin-top: 0;
	margin-bottom: 0;
}

h5 {
	font: normal normal 34px/44px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 0 0 10px 0;
}

h5.txtshadow {
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.footertop h5 {
	font: normal normal 34px/44px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 0 0 10px 0;
}

.footertop.half h5 {
	font: normal normal 24px/28px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 0 0 10px 0;
}

.widget_media_video h3, h6 {
	font: normal normal 16px/23px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	padding: 0 0 5px 0;
}

body {
	font: normal normal 14px/23px 'Noto Sans', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
}

.small, .small a {
	font: normal normal 12px/16px Arial, Helvetica, Verdana, sans-serif;
	color: #444444;
	text-align: left;
}

.date {
	font: normal normal 12px/16px 'Noto Sans', Arial, Helvetica, Verdana, sans-serif;
	color: #e7b813;
}

.rtl {
	direction: rtl;
}

/*************** BASICS ***************/

.small a {
	padding: 0px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.printonly, .hidden {
	display: none;
}

.content ul li {
	list-style-type: disc;
	margin-left: 1.3em;
}

.content ol li {
	list-style-type: decimal;
	margin-left: 1.3em;
}

.content ul, .content ol {
	padding-bottom: 1.5em;
}

.content ul {
	overflow: hidden;
}

a {
	color: #888888;
	text-decoration: underline;
}

a:hover {
	color: #666666;
	text-decoration: underline;
}

.pull-left.gap, .alignleft {
	float: left !important;
	text-align: left;
	margin: 7px 20px 20px 0;
}

.pull-right.gap, .alignright {
	float: right !important;
	text-align: left;
	margin: 7px 0 20px 20px;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.hover:hover {
	opacity: 0.8;
	cursor: pointer;
}

.content p {
	margin-bottom: 23px;
}

p:last-child {
	margin-bottom: 20px;
}

hr, .list hr {
	margin: 20px 0 20px;
}

img {
	padding: 0 !important;
	max-width: 100%;
	height: auto;
}

.ptop-sm {
	padding-top: 10px !important;
}

.pbot-sm {
	padding-bottom: 10px !important;
}

.mtop-sm {
	margin-top: 10px !important;
}

.mbot-sm {
	margin-bottom: 10px !important;
}

.ptop {
	padding-top: 20px !important;
}

.pbot {
	padding-bottom: 20px !important;
}

.mtop {
	margin-top: 20px !important;
}

.mbot {
	margin-bottom: 20px !important;
}

.ptop-md {
	padding-top: 30px !important;
}

.pbot-md {
	padding-bottom: 30px !important;
}

.mtop-md {
	margin-top: 30px !important;
}

.mbot-md {
	margin-bottom: 30px !important;
}

.ptop-xl {
	padding-top: 40px !important;
}

.pbot-xl {
	padding-bottom: 40px !important;
}

.mtop-xl {
	margin-top: 40px !important;
}

.mbot-xl {
	margin-bottom: 40px !important;
}

.white {
	color: #ffffff;
}

.debugborder {
	border: 1px solid white;
	min-height: 20px;
}

.nomtop {
	margin-top: 0 !important;
}

.nombot {
	margin-bottom: 0 !important;
}

.noptop {
	padding-top: 0 !important;
}

.nopbot {
	padding-bottom: 0 !important;
}

.nicetable {
	border-collapse: collapse;
}

.nicetable th, .nicetable td {
	text-align: left;
	vertical-align: top;
	padding: 3px 5px;
	border: 1px solid #ccc;
}

.nicetable th .middle, .nicetable td .middle {
	vertical-align: middle;
}

.border {
	border: 1px solid #555555;
}

.border-left {
	border-left: 1px solid #555555;
}

.border-right {
	border-right: 1px solid #555555;
}

.border-top {
	border-top: 1px solid #555555;
}

.border-bottom {
	border-bottom: 1px solid #555555;
}

.noborder {
	border: none;
}

blockquote {
	font-size: 1em;
	background: #fafafa;
	border-left: 10px solid #eeeeee;
	margin: 15px 0px 15px 0px;
	padding: 12px 15px 15px;
	font-style: italic;
}

a[name] {
	display: block;
	position: relative;
	top: -135px;
}

/************ BRAND COLORS *************/

.arkin .main1bg, .arkin a:hover .main1bg {
	background-color: #e7b813;
}

.arkinbasisggz .main1bg, .arkinbasisggz a:hover .main1bg {
	background-color: #e40522;
}

.arkinjeugdengezin .main1bg, .arkinjeugdengezin a:hover .main1bg {
	background-color: #93328e;
}

.inforsa .main1bg, .inforsa a:hover .main1bg {
	background-color: #767f22;
}

.jellinek .main2bg, .jellinek a:hover .main2bg {
	background-color: #3e74b5;
}

.mentrum .main1bg, .mentrum a:hover .main1bg {
	background-color: #c10016;
}

.novarum .main1bg, .novarum a:hover .main1bg {
	background-color: #745399;
}

.npi .main1bg, .npi a:hover .main1bg {
	background-color: #00a2ac;
}

.puntp .main1bg, .puntp a:hover .main1bg {
	background-color: #df9a19;
}

.roads .main2bg, .roads a:hover .main2bg {
	background-color: #b3cb00;
}

.spa .main1bg, .spa a:hover .main1bg {
	background-color: #fa8710;
}

.sinaicentrum .main1bg, .sinaicentrum a:hover .main1bg {
	background-color: #009fe3;
}

.member_logo_container p {
	color: #333333 !important;
}

/************* CONTAINERS *************/

.headerwrapper {
	margin-bottom: 40px;
}

.fullcontainer {
	width: 100%;
}

.container {
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

/*************** HEADER ***************/

.logo {
	display: block;
	float: left;
	width: auto;
	height: 80px;
}

.logo img {
	max-height: 100%;
}

.header {
	position: relative;
	background-size: cover;
	background-position: center center;
	background-color: #dddddd;
	min-height: 340px;
}

.header .container .row .col-md-4, .header .container .row .col-md-8 {
	position: relative;
	min-height: 340px;
}

.header.low, .header.low .container .row .col-md-4, .header.low .container .row .col-md-8 {
	position: relative;
	min-height: 140px;
}

.header h5.payoff {
	position: absolute;
	margin-left: 20px;
	margin-right: 10%;
	bottom: 40px;
}

.breadcrumb {
	font-size: 14px;
	background-color: #cccccc;
	padding: 13px 0;
	min-height: 50px;
}

.home .breadcrumb span span {
	display: none;
}

.headerwrapper.breadcrumb-fixed-top {
	margin-bottom: 83px;
}

.headerwrapper.breadcrumb-fixed-top .breadcrumb {
	position: fixed;
	top: 50px;
	z-index: 1030;
}

#breadcrumb, #breadcrumb a {
	color: #ffffff;
	text-decoration: none;
}

a.sticky-in-breadcrumb {
	top: 100px;
}

a.sticky-in-breadcrumb.btn-fixed-top {
	position: fixed;
	top: 56px;
	z-index: 1040;
	transition: top 0.2s;
}

/************* NAVIGATIE **************/

#navbar {
	padding-right: 0;
	padding-left: 0;
}

.navbar-inverse {
	font: normal 600 18px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	border: 0;
	margin-bottom: 0;
	transition: background-color 0.1s ease;
	z-index: 1040;
}

.navbar-inverse .navbar-header, .navbar-inverse .navbar-nav>li>a {
	color: #ffffff;
	text-decoration: none;
}

.navbar-inverse .navbar-collapse .navbar-nav>li>a {
	border-left: 1px solid #ffffff;
}

.nav>li>a {
	padding-left: 16px;
	padding-right: 16px;
}

.barsmenu>li>a {
	padding-left: 18px;
	padding-right: 18px;
}

.navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover, .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li>a:hover {
	background-color: #555555;
	transition: background-color 0.1s ease;
}

/* 
wp_nav_menu uses sub-menu class
wp_list_pages uses children class
*/

.nav .sub-menu, .nav .children {
	position: absolute;
	display: none;
	opacity: 0;
}

.nav li:hover .sub-menu, .nav li:hover .children {
	opacity: 1;
	transition: 0.2s ease;
	z-index: +1;
	display: block;
}

.nav .sub-menu, .nav .children, .nav .dropdown-menu {
	background-color: #555555;
	box-shadow: none;
	border: 0;
	margin-left: 1px;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
}

.nav .sub-menu>li>a, .nav .children>li>a, .nav .dropdown-menu>li>a {
	color: #ffffff;
	text-decoration: none;
	clear: both;
	font-weight: 400;
	line-height: 1.42857;
	white-space: nowrap;
	padding: 3px 20px;
}

.nav .sub-menu>li.hoverexample>a, .nav .sub-menu>li>a:hover, .nav .children>li>a:hover, .nav .dropdown-menu>li>a:hover {
	text-decoration: none;
}

.navbar-right {
	margin-right: 0;
}

.navbar-inverse .navbar-collapse .navbar-right.navbar-nav>li>a {
	border-left: 0;
}

/************** TOP MENU **************/

.topmenu-container {
	padding-top: 20px;
	padding-bottom: 15px;
}

.topmenu {
	margin: 25px 0 0;
	display: inline-block;
}

.topmenu ul li {
	margin: 0;
	padding: 0;
	float: left;
}

.topmenu ul li a {
	margin: 5px 0;
	padding: 0 10px;
	text-decoration: none;
	display: block;
	color: #555555;
	font-size: 0.9em;
	line-height: 1em;
	text-transform: uppercase;
	border-right: 1px solid #555555;
}

.topmenu ul li:last-child a {
	border-right: 0;
	padding-right: 0;
}

.topmenu ul li a:hover {
	color: #111111;
}

.searchbox {}

.search-input {
	padding: 5px 10px;
	font-size: 1em;
	line-height: 1.2em;
	width: 100px;
	opacity: 0.5;
	transition: width 0.8s ease-in-out;
}

.search-input:hover, .search-input:focus {
	width: 65%;
	opacity: 1;
	transition: width 0.3s ease;
}

.search-submit {
	position: absolute;
	right: 15px;
	font-size: 1.2em;
	line-height: 1.3em;
	background: none;
	margin: 0;
	pointer-events: none;
}

.search-submit span {
	display: none;
	text-indent: -99999px;
}

.socialmenu {
	margin: 23px 0 0 13px;
}

.socialmenu a {
	margin: 0 2px;
}

.languages {
	width: 30px;
	margin: 25px 0 0;
}

.languages button, .languages button:hover, .languages button:active, .languages button:focus {
	background: #ffffff !important;
	box-shadow: none;
	border: none;
	outline: none;
	margin: 5px 0;
	padding: 0 0 0 12px;
	text-decoration: none;
	display: block;
	color: #555555;
	font-size: 0.9em;
	line-height: 1em;
	text-transform: uppercase;
	border-left: 1px solid #555555;
}

.languages button .caret {
	margin-left: 4px;
}

ul#menu-taalmenu {
	z-index: 9999;
}

ul#menu-taalmenu li:before, .flag {
	width: 18px;
	height: 12px;
	margin: 0 6px -2px 0;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 18px 12px;
	display: inline-block;
}

ul#menu-taalmenu li:before {
	content: " ";
	margin: 0px 0px 0 12px;
	position: relative;
	top: 1px;
}

ul#menu-taalmenu li a {
	display: inline-block;
	padding-left: 10px;
}

ul#menu-taalmenu li.nl:before, .flag-nl {
	background-image: url('images/flags/nl.png');
}

ul#menu-taalmenu li.en:before, .flag-en, ul#menu-taalmenu li.gb:before, .flag-gb {
	background-image: url('images/flags/gb.png');
}

ul#menu-taalmenu li.tr:before, .flag-tr, ul#menu-taalmenu li.tu:before, .flag-tu {
	background-image: url('images/flags/tr.png');
}

ul#menu-taalmenu li.ma:before, .flag-ma, ul#menu-taalmenu li.mr:before, .flag-mr {
	background-image: url('images/flags/ma.png');
}

.header .panel .panel-body li {
	font-size: 14px;
	line-height: 20px;
}

.header .panel .panel-body li:before {
	font-family: 'FontAwesome';
	content: '\f00c';
	margin: 0 5px 0 0;
	font-size: 16px;
}

/************* BARS MENU **************/

.barsmenu {
	z-index: 999;
	position: relative;
	display: none;
}

.colored .overmenu {
	max-height: 0;
	position: absolute;
	z-index: 999;
	color: #ffffff;
	transition: max-height 0.3s ease;
	overflow: hidden;
}

.colored .overmenu.open {
	height: auto;
	max-height: 1440px;
	transition: max-height 0.5s ease;
}

.colored .overmenu h3 {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.colored .overmenu a {
	color: #ffffff;
	text-decoration: none;
}

.colored .overmenu a:hover {
	color: #ffffff;
	text-decoration: underline;
}

/************* CTA GROUP **************/

.cta-group {
	width: 100%;
	margin-bottom: 20px;
	padding-bottom: 0 !important;
}

.cta-group li.btn {
	font: normal 600 16px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	background: #999999;
	margin: 0 !important;
	padding: 0 !important;
	border: 0;
	border-right: 1px solid #ffffff;
	display: table;
	height: 60px;
	transition: background-color 0.1s ease;
	border-radius: 0 !important;
}

.cta-group li.btn:hover {
	background: #888888;
}

.cta-group li.cta-title, .cta-group li.cta-submit {
	font: normal 500 18px/24px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
}

.cta-group li.cta-title, .cta-group li.cta-title:hover {
	pointer-events: none;
}

.cta-group li.btn span, .cta-group li.btn a {
	display: table-cell;
	vertical-align: middle;
	color: #ffffff;
	text-decoration: none;
	padding: 0 3%;
	width: 94%;
	height: 100%;
}

.cta-group li.btn .icon {
	font-size: 32px;
	padding-left: 3%;
}

.cta-group li.btn:last-child {
	border-right: 0;
}

/* flexible grid */

/*.cta-group li:first-child:nth-last-child(1) { width: 100%; }	/* one item */

/*.cta-group li.col50, .cta-group li:first-child:nth-last-child(2),.cta-group li:first-child:nth-last-child(2) ~ li { width: 50%; }			/* two items */

/*.cta-group li.col33, .cta-group li:first-child:nth-last-child(3),.cta-group li:first-child:nth-last-child(3) ~ li { width: 33.3333%; }	/* three items */

/*.cta-group li.col25, .cta-group li:first-child:nth-last-child(4),.cta-group li:first-child:nth-last-child(4) ~ li { width: 25%; }			/* four items */

/*.cta-group li.col20, .cta-group li:first-child:nth-last-child(5),.cta-group li:first-child:nth-last-child(5) ~ li { width: 20%; }			/* five items */

/************* SOCIAL / SHARE **************/

.socialicon {
	color: #ffffff;
	font-size: 18px;
	line-height: 22px;
	width: 24px;
	width: 32px;
	height: 32px;
	text-align: center;
	padding-top: 5px;
}

.socialicon.fa-facebook {
	background-color: #496eab;
}

.socialicon.fa-twitter {
	background-color: #3face0;
}

.socialicon.fa-linkedin {
	background-color: #127ba0;
}

.socialicon.fa-youtube {
	background-color: #ff0000;
}

.socialicon.fa-instagram {
	background-color: #d10869;
}

.socialicon.fa-envelope {
	background-color: #e7b813;
}

.socialicon.fa-print {
	background-color: #999999;
}

/************* FONTAWESOME **************/

.content ul.fa-ul {
	overflow: visible;
}

.content ul.fa-ul li {
	list-style-type: none;
	margin: 0 4px 12px 8px;
}

.content ul.fa-ul li .fa-li {
	font-size: 24px;
	margin-top: -2px;
}

/************* TERMS / CATEGORIES **************/

a.category.active {
	font-weight: bold;
}

/*  */

/*************** EVENTS ***************/

.tribe-events-past,
/* paginering naar events in het verleden */

.tribe-events-user-recurrence-toggle,
/* Vinkje om herhaalevenementen te verwijderen */

.tribe-events-page-title,
/* Titel op list overzicht */

.tribe-events-ical,
/* export link ical in events */

.tribe-events-cal-links,
/* export links ical + google in event */

.tribe-country-name,
/* land naam in adresblok */

.tribe-events-single .tribe-events-cost
/* kosten in single-event */

	{
	display: none !important;
}

.tribe-events-event-meta .column, .tribe-events-event-meta .tribe-events-meta-group {
	padding: 0 4% 0 0;
}

/* zie ook h1 */

.tribe-events-list-separator-month {
	background-color: transparent;
	display: block;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}

/*************** ZORGKAART WIDGET ***************/

.zorgkaart-widget {
	margin: 5px 0 0;
	text-align: left;
	max-width: 320px;
}

.zorgkaart-widget .zorgkaartlogo {
	max-width: 75%;
}

.zorgkaart-widget .zorgkaartlogo.mobile {
	max-width: 70%;
}

.zorgkaart-widget .fractional_number {
	font: normal normal 48px/48px 'Palanquin Dark', Arial, Helvetica, Verdana, sans-serif;
	position: relative;
	right: 0;
	top: 0;
	margin: 0 4px 0 0;
	width: 70px;
	height: 70px;
	padding: 3px 0;
	text-align: center;
	background: #322766;
	color: #fff;
	border-radius: 50%;
	border: 4px solid #fff;
	box-shadow: 0 0 5px 3px rgba(0, 0, 0, .1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.zorgkaart-widget .fractional_number sup {
	font-size: 26px;
	top: -7px;
}

/*************** PEOPLE ***************/

.people, a.people {
	width: 31%;
	height: 240px;
	max-width: 200px;
	margin: 9px 13px 4px 0;
	color: #ffffff;
	background-color: #eeeeee;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	display: block;
	float: left;
	text-align: center;
	position: relative;
	overflow: visible;
	overflow: hidden;
	border-radius: 0px;
}

.people span, a.people span {
	width: 100%;
	max-width: 200px;
	height: auto;
	max-height: 28px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 5px;
	font-size: 13px;
	line-height: 20px;
	font-family: Arial;
	font-weight: bold;
	background: #ccc;
	opacity: 0.7;
	transition: max-height 0.2s ease-out;
}

.people:hover {
	cursor: pointer;
}

.people:hover span, a.people:hover span {
	color: #ffffff;
	max-height: 180px;
	bottom: 0;
	opacity: 1;
	transition: max-height 0.3s ease-out;
	cursor: pointer;
}

.colored .people, .colored .people span, .colored .people:hover, .colored .people span:hover, .colored a.people, .colored a.people span, .colored a.people:hover, .colored a.people span:hover {
	color: #ffffff !important;
}

/*********** FAQ ***********/

.faq-container {
	border-bottom: 1px solid #ccc;
}

.faq-title {
	cursor: pointer;
	width: 100%;
	padding: 12px 0;
	display: block;
	text-decoration: none;
}

.faq-title h2 {
	display: inline-block;
	max-width: calc(100% - 24px);
}

.faq-title .faq-icon {
	margin: 6px 12px 0 0;
	transition: transform 0.1s;
	float: left;
}

.faq-title.active .faq-icon {
	transform: rotate(90deg);
	transition: transform 0.1s;
}

.faq-title.active, .faq-title:hover {
	font-weight: 700;
	text-decoration: none;
}

.faq-container:hover, .faq-container .active {
	/*background-color: #f9f9f9;*/
}

.faq-answer {
	padding: 0 0 0 24px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.5s ease-out;
}

.faq-answer.active {
	height: auto;
	max-height: 900px;
	transition: max-height 1.5s ease-out;
}

/*********** VACATURES ***********/

.nicetable.vacature-table th, .nicetable.vacature-table td {
	text-align: left;
	vertical-align: top;
	padding: 0px 5px 3px 0px;
	border: 0px solid #ccc;
}

.nicetable.vacature-table th .middle, .nicetable.vacature-table td .middle {
	vertical-align: middle;
}

.vacature {
	position: relative;
	/*padding-right: 160px;*/
}

.vacature .subtitle {
	font-size: 14px;
	font-style: italic;
	padding-bottom: 8px;
	display: inline-block;
}

.vacature .merklogo {
	width: 150px;
	height: 150px;
	background-image: url('images/merken.png');
	background-repeat: no-repeat;
	background-size: 1950px 150px;
	background-position: 0 0;
	position: absolute;
	right: 0;
	top: 0;
}

.vacature .merklogo.jellinek {
	background-position: 0 -30px;
}

.vacature .merklogo.puntp {
	background-position: -150px -25px;
}

.vacature .merklogo.novarum {
	background-position: -300px -25px;
}

.vacature .merklogo.npi {
	background-position: -450px -20px;
}

.vacature .merklogo.mentrum {
	background-position: -600px -21px;
}

.vacature .merklogo.roads {
	background-position: -750px -23px;
}

.vacature .merklogo.inforsa {
	background-position: -900px -26px;
}

.vacature .merklogo.spoedeisende-psychiatrie-amsterdam {
	background-position: -1050px -26px;
}

.vacature .merklogo.sinai-centrum {
	background-position: -1200px -40px;
}

.vacature .merklogo.arkin-basisggz {
	background-position: -1350px -22px;
}

.vacature .merklogo.arkin {
	background-position: -1500px -22px;
}

.vacature .merklogo.arkin-jeugd-en-gezin, .vacature .merklogo.arkin-jeugd-and-gezin {
	background-position: -1650px -18px;
}

/*************** FOOTER ***************/

.footertop {
	background-color: #cccccc;
	background-size: cover;
	background-position: center center;
	border-bottom: 4px solid #ffffff;
}

.footertop .container {
	display: table;
	height: 244px;
}

.footertop.half .container {
	height: 124px;
}

.footertop .container .row {
	display: table-cell;
	vertical-align: middle;
}

.panel-footer .icon {
	font-size: 32px;
}

.panel-footer .icon-email {
	margin-left: 0.03em;
}

.colored .footer {
	background-color: #3e74b5;
	color: #ffffff;
	padding-top: 20px;
}

.colored .footer h3 {
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
}

.colored .footer a {
	color: #ffffff;
	text-decoration: none;
}

.colored .footer a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.colored .footer .social {
	color: #ffffff;
	text-align: center;
}

.colored .footer .social .fa {
	color: #ffffff;
	font-size: 32px;
	margin: 0 10px;
}

.page .footer .content p:first-of-type {
	color: #ffffff;
}

.disclaimer {
	float: right;
	font-size: 10px;
	line-height: 12px;
	text-align: right;
}

.disclaimer p {
	padding-bottom: 6px;
}

.disclaimer span {
	vertical-align: bottom;
}

.hkz-keurmerk {
	width: 75px;
}

.arkin-logo-footer {
	width: 60px;
	margin-top: 4px;
	margin-bottom: 2px;
}

/************** WIDGETS ***************/

.widget {
	margin-bottom: 20px;
}

/************** LEFTMENU ***************/

.leftmenu ul, .leftmenu li {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.leftmenu li {
	position: relative;
}

.leftmenu li a, .leftmenu li a:visited {
	font: normal normal 16px/23px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	padding: 5px 30px 5px 10px;
	display: inline-block;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ffffff;
	color: #333333;
}

.leftmenu li a:hover, .leftmenu li.page_item_has_children a:hover, .leftmenu li ul li.page_item_has_children a:hover, .leftmenu li ul li ul li.page_item_has_children a:hover, .leftmenu li ul li ul li ul li.page_item_has_children a:hover {
	text-decoration: none;
	color: #ffffff;
}

.leftmenu li.current_page_item ul li a, .leftmenu li.current_page_item ul li a:visited, .leftmenu li.current_page_ancestor ul li a, .leftmenu li.current_page_ancestor ul li a:visited {
	padding-left: 20px;
}

.leftmenu li.current_page_item ul ul li a, .leftmenu li.current_page_item ul ul li a:visited, .leftmenu li.current_page_ancestor ul ul li a, .leftmenu li.current_page_ancestor ul ul li a:visited {
	padding-left: 30px;
}

.leftmenu li.current_page_item ul ul ul li a, .leftmenu li.current_page_item ul ul ul li a:visited, .leftmenu li.current_page_ancestor ul ul ul li a, .leftmenu li.current_page_ancestor ul ul ul li a:visited {
	padding-left: 40px;
}

.leftmenu li.current_page_item ul ul ul ul li a, .leftmenu li.current_page_item ul ul ul ul li a:visited, .leftmenu li.current_page_ancestor ul ul ul ul li a, .leftmenu li.current_page_ancestor ul ul ul ul li a:visited {
	padding-left: 50px;
}

.leftmenu li.current_page_item .children li a, .leftmenu li.current_page_item .children li a:visited, .leftmenu li.current_page_ancestor .children li a, .leftmenu li.current_page_ancestor .children li a:visited {
	display: block;
}

/* li.current_page_ancestor>a {
	color: #333;
} */

.leftmenu ul, .leftmenu ul ul, .leftmenu .current_page_item ul, .leftmenu .current_page_item ul ul, .leftmenu .page-item-has-children ul, .leftmenu .page-item-has-children ul ul, .leftmenu .current_page_ancestor ul, .leftmenu .current_page_ancestor ul ul, .leftmenu .current_page_ancestor .current_page_item ul, .leftmenu .current_page_ancestor .current_page_item ul ul, .leftmenu .current_page_ancestor .current_page_ancestor ul, .leftmenu .current_page_ancestor .current_page_ancestor ul ul {
	display: none;
}

.leftmenu .current_page_item ul, .leftmenu .current_page_ancestor ul, .leftmenu .open ul, .leftmenu .current_page_ancestor .current_page_item ul, .leftmenu .current_page_ancestor .current_page_ancestor ul, .leftmenu .current_page_ancestor .current_page_ancestor .current_page_item>ul, .leftmenu .current_page_ancestor .current_page_ancestor .current_page_ancestor>ul {
	display: block;
}

.leftmenu li.page_item_has_children ul li a {
	color: #333333;
}

.leftmenu li.current_page_ancestor>a, .leftmenu li.current_page_ancestor>a:visited {
	color: #ffffff;
}

.leftmenu li.current_page_ancestor>a:after, .leftmenu li.page_item_has_children.current_page_item>a:after {
	transform: rotate(90deg);
}

.leftmenu li.current_page_item>a, .leftmenu li.current_page_item>a:visited {
	color: #ffffff;
}

.leftmenu li.page_item_has_children>a:after {
	position: absolute;
	top: 6px;
	right: 5px;
	content: "\f061";
	font-family: FontAwesome;
	pointer-events: none;
}

.leftmenu li>a:hover:after, .leftmenu li.current_page_ancestor>a:after, .leftmenu li.page_item_has_children.current_page_item>a:after {
	color: #ffffff;
}

.widget.quote {
	padding-top: 40px;
	padding-bottom: 40px;
}

.col-md-6 .widget_banner, .col-md-12 .widget_banner {
	min-height: 220px;
}

.col-md-4 .widget_banner {
	min-height: 440px;
}

.spotlight.widget_banner.has_image {
	min-height: 220px;
}

.spotlight.widget_banner.no_image {
	min-height: 44px;
}

.spotlight.widget_banner.has_icon {
	min-height: 160px;
}

.widget_banner {
	position: relative;
	background-position: center center;
	background-size: cover;
}

a .widget_banner .bottom, .widget_banner a, .widget.widget_banner a {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0;
	display: block;
}

.widget_banner a, .widget.widget_banner a, .widget_banner h3, .widget_banner p, .panel-icon h3 {
	color: #ffffff;
	margin: 0;
	padding: 0;
}

.widget_banner li, .widget.widget_banner li {
	float: left;
}

.widget_banner li.col-80, .widget.widget_banner li.col-80 {
	border-right: 1px solid #ffffff;
}

.widget_banner li h3, .widget.widget_banner li h3 {
	padding: 10px 0;
}

.panel-icon h3 {
	padding: 10px 3px;
}

.widget_banner a:hover {
	text-decoration: none;
	background-position: 0 210px;
	transition: background-position 0.1s;
}

/*.widget_banner .arrow {
	border-left: 1px solid #ffffff;
}*/

.main2hovbg, .button-primary:hover, .button-arrow:hover .button-primary, a:hover .main2bg, a.main2bg:hover, .light1hovbg, .button-arrow:hover .button-info, .button-info:hover, .footertop, a:hover .light1bg, a.light1bg:hover {
	transition: background-color 0.1s ease;
}

/************** BOX ***************/

.box {
	background-color: #fafafa;
	border: 1px solid #dddddd;
	padding: 16px;
}

/************** Vacature Highlights ***************/

.colored .vacature_highlight_container {
	margin-bottom: 10px;
}

.colored .vacature_highlight_container a {
	text-decoration: none;
}

.colored .vacature_highlight_container:hover a .button {
	/*background: #aaaaaa;*/
	/* nu grey1bg */
}

.vacature_highlight_container h3 {
	font-size: 22px;
	line-height: 26px;
	margin-bottom: 6px;
}

.colored .vacature_highlight {
	color: #333333;
	padding: 15px 20px 15px 20px;
	min-height: 240px;
	width: 100%;
	border: 1px solid #bbbbbb;
	border-bottom: 0;
	text-align: center;
	position: relative;
}

.colored .vacature_highlight_logo {
	position: absolute;
	bottom: 30px;
	margin: 0 auto;
	left: 0;
	right: 0;
	max-width: 36%;
	max-height: 36%;
	width: auto;
	height: auto;
	align-self: center;
}

.colored .vacature_highlight_container .button-arrow {
	margin: 0;
	width: 100%;
	max-width: 100%;
}

.colored .vacature_highlight_container .button-arrow span {
	font: normal normal 14px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	background: #bbbbbb;
	padding: 4px 2px;
	text-align: center;
	display: inline-block;
	min-width: calc(100% - 40px);
	max-width: calc(100% - 40px);
}

.colored .vacature_highlight_container .button-arrow i {
	width: 40px;
	padding: 6px 14px;
}

/************** Logo pagina ***************/

.member_logo_container {
	margin-bottom: 10px;
	text-align: center;
}

.member_logo {
	height: 160px;
	width: 100%;
	display: flex;
	justify-content: center;
	border: 1px solid #cccccc;
	border-bottom: 0;
}

.member_logo img {
	max-width: 50%;
	max-height: 50%;
	width: auto;
	height: auto;
	align-self: center;
}

.member_logo_container span {
	font: normal normal 14px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	color: #ffffff;
	padding: 6px 5px 9px;
}

.member_logo_container span .fa {
	font-size: 11px;
}

.member_logo_container p {
	display: inline-block;
	padding: 10px 5px 0;
}

.member_logo_container a {
	display: block;
}

.member_logo_container a:hover {
	opacity: 0.8;
}

/************** Wachttijd ***************/

.wachttijden h3 {
	margin: 0;
	padding: 0
}

.calendar {
	position: relative;
	width: 44px;
	height: 60px;
	display: block;
	text-align: center;
	float: left;
	margin-right: 15px;
}

.calendar .fa {
	position: relative;
	font-size: 44px;
}

.calendar .weeks {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 14px;
	font-size: 26px;
	border: 0;
	width: 43px;
}

.textpage .calendar .fa, .textpage .calendar .weeks {
	color: #000000;
}

/************** Share buttons / simple-share-buttons-adder ***************/

.ssba {
	margin: 0 6px 6px 0;
}

/************** CONTENT ***************/

.quote h3 {
	text-align: center;
}

.quote h6 {
	font-size: 16px;
	text-align: center;
}

/*************** ICONS ****************/

.icon {
	vertical-align: middle;
}

.icon-xxl {
	vertical-align: middle;
	font-size: 70px;
	margin: 30px 20px;
	padding: 0px;
	display: inline-block;
	transition: color 0.1s ease;
	/*border: 1px solid #ccc;*/
}

.icon-xxl:hover {
	cursor: pointer;
	color: #bbbbbb;
}

.icon-slider {
	background-color: #cccccc;
	max-height: 130px;
	margin: 0 0 40px;
	overflow: hidden;
}

/************** BUTTONS ***************/

.button-arrow {
	margin: 5px 0;
	clear: both;
	display: inline-block;
	width: 100%;
	max-width: 282px;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit], button, .button, a.button, .bigbutton, .button-arrow i {
	position: relative;
	text-shadow: none;
	box-shadow: none;
	padding: 4px 10px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff !important;
	text-decoration: none !important;
	border: 0 !important;
	display: inline-block;
	transition: background-color 0.1s ease;
	border-radius: 0;
}

button.big, .button.big, a.button.big {
	font-size: 14px;
	padding: 10px 16px;
	width: 100%;
	text-align: left;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	margin-right: 0;
}

.add-arrow {
	font-family: FontAwesome;
	content: "\f061";
	display: inline-block;
	vertical-align: middle;
}

.button-arrow span {
	min-width: calc(100% - 30px);
}

a.button-arrow {
	text-decoration: none !important;
}

button:hover, .button:hover, .bigbutton:hover {
	color: #ffffff;
	cursor: pointer;
}

button:active, .button:active, .bigbutton:active {
	box-shadow: none !important;
	outline: none !important;
}

button, .button-default {
	background: #e7b813;
}

.button-primary {
	background: #5371a6;
}

.button-info {
	background: #a3b9d9;
}

button:hover, .button-default:hover {
	background: #c70023;
}

.button-primary:hover {
	background: #21589b;
}

.button-info:hover {
	background: #85a3cd;
}

.add-arrow, .button-arrow i {
	padding: 4px 7px;
	background-color: #e7b813;
	transition: background-color 0.1s ease;
}

/*
.button-arrow:hover i 								{ background-color: #d6a10c; }
.button-arrow:hover .button-default 	{ background-color: #d6a10c; }
.button-arrow:hover .button-primary 	{ background-color: #21589b; }
.button-arrow:hover .button-info 			{ background-color: #85a3cd; }
*/

.bigbutton {
	font: normal normal 22px/28px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	letter-spacing: 1px;
	padding: 8px 80px 12px 30px;
	min-width: 284px;
	/* nu nog werken bij kleuren...             grijs         oranje/geel */
	background-image: linear-gradient(to left, #c0bcb1 50px, #e7b813 50px);
}

.bigbutton:after {
	position: absolute;
	right: 15px;
	top: 10px;
	content: " ";
	font-family: FontAwesome;
	content: "\f061";
	display: inline-block;
	vertical-align: middle;
}

hr.onderbutton {
	margin-top: -24px;
	margin-bottom: 24px;
}

.bigbutton:hover {
	/* nu nog werken bij kleuren...             grijs         oranje/geel */
	background-image: linear-gradient(to left, #b2aea3 50px, #d6a10c 50px);
}

/*************** PANELS ***************/

.header .panel {
	margin: 20px 0 0;
	border: 0;
	background-color: transparent;
}

.header .panel .panel-heading {
	padding: 10px 15px 10px 15px;
}

.header .panel .panel-body {
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 15px 10px 15px;
}

.header .panel .panel-body li {
	font-size: 14px;
	line-height: 20px;
}

.header .panel .panel-body li:before {
	font-family: 'FontAwesome';
	content: '\f00c';
	margin: 0 5px 0 0;
	font-size: 16px;
}

.footer .panel {
	margin-top: -62px;
	background-color: #e7b813;
	color: #ffffff;
	border: 0;
}

.panel-footer .panel-body, .panel-footer h3, .panel-footer h6 {
	color: #ffffff;
}

.panel-footer .panel-body {
	font-size: 12px;
	line-height: 16px;
}

.panel-default>.panel-heading {
	background: #3e74b5;
	border-color: #3e74b5;
	color: #ffffff;
}

.panel-default {
	border-color: #3e74b5;
}

.panel-primary>.panel-heading {
	background: #3e74b5;
	border-color: #3e74b5;
	color: #ffffff;
}

.panel-primary {
	border-color: #3e74b5;
}

.responsive-menu-button.fixed-top {
	position: fixed !important;
	top: 0 !important;
	margin-top: -3px !important;
}

.responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
	border-radius: 0 !important;
}

.equal .panel {
	width: 100%;
	height: 100%;
}

/************* RESPONSIVE *************/

.desktop {
	display: block;
}

.mobile, .mobilebut, a.mobilebut.button {
	display: none;
}

/******* 1e breakpunt Bootstrap *******/

@media all and (max-width: 991px) {
	#responsive-menu-container #responsive-menu li.responsive-menu-current-item>.responsive-menu-item-link, #responsive-menu-container #responsive-menu li.responsive-menu-item a:hover, #responsive-menu-container #responsive-menu li.responsive-menu-item a:focus, #responsive-menu-container #responsive-menu li.responsive-menu-item a:active, #responsive-menu-container #responsive-menu li.responsive-menu-item a {
		border-bottom: 1px solid #ffffff;
		color: #ffffff;
	}
	.header .container h5, .vacatures-filters {
		display: none;
	}
	.panel-footer {
		margin-top: -20px;
	}
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
	.navbar-inverse {
		font-size: 15px;
	}
	.header .container .row .col-md-4, .header .container .row .col-md-8 {
		position: relative;
		min-height: 10px;
	}
}

/******* tussenbreak tbv menu *******/

@media all and (max-width: 850px) {
	.member_logo_container, .navbar-inverse {
		font-size: 13px;
		;
	}
	.member_logo_container span {
		font-size: 16px;
		line-height: 21px;
	}
}

/******* 2e breakpunt Bootstrap *******/

@media all and (max-width: 767px) {
	.topmenu, .desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
	.mobilebut, a.mobilebut.button {
		display: inline-block;
	}
	.menu.leftmenu {
		display: none;
	}
	.vacature {
		padding-right: 0px !important;
	}
	.vacature h3, .vacature .subtitle {
		padding-right: 100px;
	}
	.merklogo {
		right: -42px !important;
		top: -35px !important;
		transform: scale(0.6);
		z-index: -1;
	}
	.beautiful-taxonomy-filters-tax label {
		display: none;
	}
	.beautiful-taxonomy-filters-select-wrap, .beautiful-taxonomy-filters-tax, .select2-container {
		width: 100% !important;
	}
	.select2-container .select2-selection--single {
		height: 40px;
		margin-bottom: 20px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		line-height: 39px;
	}
	.cta-group li.btn {
		float: none;
		width: 100%;
		border: 0;
	}
}

/******* Mobile *******/

@media all and (max-width: 480px) {}