.fake {
	color: #cccccc;
}

/* anders rendert hij niet goed */

/* Menu  In hoofd stylesheet? */
.nav .sub-menu>li>a:hover,
.nav .dropdown-menu>li>a:hover {
	color: #cccccc;
}

/* main1 (Menu bg, Submenu's bg, h1, h3 above column, hr) */
.main1,
.topmenu ul li.main1 a,
.colored h1,
.colored h3 span,
.colored h4,
.tribe-events-list-separator-month {
	color: #000000;
}

/* main1hov (main1 hover/highlight) */
.main1hov,
.topmenu ul li.main1:hover a,
blockquote p {
	color: #000000 !important;
}

/* main1alt */
.main1alt {
	color: #584998;
}

/* (Footer widget bg) */
.topmenu ul li.main1alt a,
.colored .date {
	color: #584998;
}

/* main1althov */
.main1althov,
.topmenu ul li.main1alt:hover a {
	color: #26193e;
}

/* main2 (Icon-slider bg, Panelheaders bg, some h4's) */
.main2,
.main2 h3,
.signal p,
p.signal,
.col-md-4.signal h3,
.quote h3,
.quote h6,
.calendar .fa,
.calendar .weeks

/*.page .content.highlight p:first-of-type	*/
	{
	color: #000000;
}

.main2hov {
	color: #293b9c;
}

/* main2alt (Footer bg) */
.main2alt,
.header .panel .panel-body h6,
.header .panel .panel-body {
	color: #584998;
}

.main2althov {
	color: #26193e;
}


.accent1,
.accent1 a,
.faq-title,
.faq-title h2 {
	color: #aa95c2 !important;
}

.accent1hov,
.accent1hov a,
.faq-title:hover,
.faq-title:hover h2 {
	color: #826a9d !important;
}

.accent2,
.accent2 a {
	color: #e61b5b !important;
}

.accent2hov,
.accent2hov a {
	color: #b60c42 !important;
}

.light1,
.icon-xxl:hover {
	color: #e61b5b !important;
}

.light1hov {
	color: #e61b5b !important;
}

.light2 {
	color: #f8f3ff !important;
}

.light2hov {
	color: #ded2f0 !important;
}

.colored a,
.colored .href {
	color: #584998;
}

.colored a:hover,
.colored .hrefhov,
.colored .href:hover {
	color: #26193e;
}




/* Main colors (with alternatives) and hover-colors for backgrounds */
.main1bg {
	background-color: #000000;
}

/* important hier overruled kleuren van merkenlogo's */
.cta-group li.cta-title,
.cta-group li.cta-title:hover,
button,
.button-default,
.button-arrow i,
.navbar-inverse,
a.people span,
.people span {
	background-color: #000000;
}

.button-success {
	background-color: #584998;
}

.main1altbg {
	background-color: #584998;
}

.main1althovbg {
	background-color: #26193e;
}

.panel-footer,
.footer .panel,
.panel-body {
	background-color: #584998;
}

.spotlight a .col-35 {
	background-color: #e61b5b;
}

.spotlight a .col-55,
.spotlight a .col-80,
.spotlight a .col-90 {
	background-color: #584998;
}

.spotlight a .col-10,
.spotlight a .col-20 {
	background-color: #584998;
}

.spotlight a:hover .col-35 {
	background-color: #e61b5b;
}

.spotlight a:hover .col-55,
.spotlight a:hover .col-80,
.spotlight a:hover .col-90 {
	background-color: #26193e;
}

.spotlight a:hover .col-10,
.spotlight a:hover .col-20 {
	background-color: #26193e;
}

.button-info,
.panel-default>.panel-heading .button-info,
.panel-primary>.panel-heading .button-info,
.button-primary .button-info {
	background-color: #e61b5b;
}

.button-info:hover,
.panel-default>.panel-heading .button-info:hover,
.panel-primary>.panel-heading .button-info:hover,
.button-primary .button-info:hover {
	background-color: #b60c42;
}

.main2altbg {
	background-color: #584998;
}

.col-10.main2bg.center.arrow:hover,
.col-55.main2bg:hover,
.main2althovbg {
	background-color: #26193e;
}

.main2bg,
.panel-default>.panel-heading,
.panel-primary>.panel-heading,
.button-primary,
.footer {
	background-color: #000000;
}

.main2hovbg,
.button-primary:hover,
.button-arrow:hover .button-primary,
a:hover .main2bg,
a.main2bg:hover {
	background-color: #293b9c;
}

.accent1bg,
.cta-group {
	background-color: #aa95c2;
}

.accent1hovbg,
.cta-group li.btn:hover {
	background-color: #826a9d;
}

.cta-style-2 .panel-default>.panel-heading,
.cta-style-2 .panel-primary>.panel-heading,
.accent2bg {
	background-color: #e61b5b;
}


.cta-style-2 .panel-default>.panel-heading .button-info:hover,
.cta-style-2 .panel-primary>.panel-heading .button-info:hover,
.accent2hovbg {
	background-color: #b60c42;
}

.light1bg,
.header,
.breadcrumb,
.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=submit],
.gform_wrapper .gform_page_footer input.button,
.gform_wrapper .gform_page_footer input[type=submit] {
	background-color: #e61b5b;
}

.light1hovbg,
.footertop,
.colored a:hover .light1bg,
a.light1bg:hover,
.gform_wrapper .gform_footer input.button:hover,
.gform_wrapper .gform_footer input[type=submit]:hover,
.gform_wrapper .gform_page_footer input.button:hover,
.gform_wrapper .gform_page_footer input[type=submit]:hover {
	background-color: #e61b5b;
}

.light2bg,
blockquote,
.people,
a.people {
	background-color: #f8f3ff;
}

.oldoldold {
	background-color: #000000;
}

.oldoldold {
	background-color: #000000;
}

.oldoldold {
	background-color: rgba(237, 231, 246, 0.5) !important;
}

/* 50% of light2 */



.main1hovbg,

.nav.navbar-nav li:hover a,
.nav.navbar-nav li.hoverexample a,
.navbar-nav>.active>a,
.navbar-nav>.active>a:focus,
.navbar-nav>.active>a:hover,
.navbar-nav>.open>a,
.navbar-nav>.open>a:focus,
.navbar-nav>.open>a:hover,
.navbar-nav>li>a:focus,
.navbar-nav>li:hover>a,
.nav .dropdown-menu,
.nav .sub-menu,
button:hover,
.button-default:hover,
.button-arrow:hover i,
.button-arrow:hover .button-default {
	background-color: #000000;
}

.light2hovbg {
	background-color: #ded2f0;
}

.hrefbg,
.hrefbg i {
	background-color: #584998;
}

.hrefhovbg,
.hrefhovbg i {
	background-color: #26193e;
}

.grey1bg {
	background-color: #c0bcb1 !important;
}

.grey2bg {
	background-color: #dddddd !important;
}

.grey3bg {
	background-color: #eeeeee !important;
}

.darkgreybg {
	background-color: #cccccc !important;
}

.grey1hovbg {
	background-color: #b2aea3 !important;
}

.grey2hovbg {
	background-color: #bbbbbb !important;
}

.grey3hovbg {
	background-color: #cccccc !important;
}

.darkgreyhovbg {
	background-color: #000000 !important;
}

a.grey1bg:hover,
.grey1bg:hover a,
.button.grey1bg:hover {
	background-color: #b2aea3 !important;
}

a.grey2bg:hover,
.grey2bg:hover a,
.button.grey2bg:hover {
	background-color: #bbbbbb !important;
}

a.grey3bg:hover,
.grey3bg:hover a,
.button.grey3bg:hover {
	background-color: #cccccc !important;
}




.colored hr,
.border,
.border-left,
.border-right,
.border-top,
.border-bottom {
	border-color: #000000;
}

.panel-default>.panel-heading,
.panel-default,
.panel-primary>.panel-heading,
.panel-primary {
	border-color: #584998;
}

blockquote {
	border-color: rgba(230, 27, 91, 0.5);
}

/* 50% of light1 */

.colored .footer {
	background-color: #000000;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a,
#responsive-menu-container #responsive-menu-wrapper,
#responsive-menu-container {
	background: #000000 !important;
	border-left: 1px solid #000000 !important;
}

#responsive-menu-container #responsive-menu li.responsive-menu-item a:hover,
#responsive-menu-container #responsive-menu li.responsive-menu-item a .responsive-menu-subarrow {
	border-left: 1px solid #000000 !important;
	background-color: #000000 !important;
}

.leftmenu li a,
.leftmenu li a:visited {
	background: #f8f3ff;
}

.leftmenu li a:hover,
.leftmenu li.page_item_has_children a:hover,
.leftmenu li ul li.page_item_has_children a:hover,
.leftmenu li ul li ul li.page_item_has_children a:hover,
.leftmenu li ul li ul li ul li.page_item_has_children a:hover {
	background: #000000;
}

.leftmenu li.page_item_has_children ul li a {
	background: rgba(237, 231, 246, 0.5);
}

.leftmenu li.current_page_ancestor>a,
.leftmenu li.current_page_ancestor>a:visited {
	background: #000000;
}

.leftmenu li ul li.page_item_has_children a {
	/*	background: rgba(237,231,246,0.5);*/
}

.leftmenu li ul li ul li.page_item_has_children a {
	/*	background: rgba(237,231,246,0.5);*/
}

.leftmenu li ul li ul li ul li.page_item_has_children a {
	/*	background: rgba(237,231,246,0.5);*/
}

.leftmenu li.current_page_item>a,
.leftmenu li.current_page_item>a:visited {
	background: #000000;
}

.leftmenu li.page_item_has_children>a:after {
	color: #584998;
}