.nav.navbar-nav>li:hover>a, .nav.navbar-nav>li.hoverexample.a, .nav .dropdown-menu, .nav .sub-menu, .navbar-nav>.active>a, .navbar-nav>.active>a:focus, .navbar-nav>.active>a:hover, .navbar-nav>.open>a, .navbar-nav>.open>a:focus, .navbar-nav>.open>a:hover, .navbar-nav>li>a:focus, .navbar-nav>li:hover>a, button:hover, .button-default:hover, .button-arrow:hover i, .button-arrow:hover .button-default {
    color: #cccccc;
}

h2.unity {
    background-color: #293b9c;
    color: #ffffff;
    padding: 5px 10px;
    width: 100%;
    text-align: center;
    margin: 0 6px;
}

.colored a, .colored .href, .topmenu ul li.main1alt a, .colored .date {
    color: #e61b5b;
}

.colored a:hover, .colored .hrefhov, .colored .href:hover {
    color: #b60c42;
}