/*************** FORMS ***************/

.disabled input,
.disabled select {
	pointer-events: none;
	background: #f8f8f8;
	border: 1px solid #dddddd;
	outline: none;
}

.gform_wrapper .hidelabel label.gfield_label {
	display: none;
}



.gform_wrapper .gf_progressbar {
	padding: 0;
	border-radius: 6px;
	box-shadow: none;
	background: none;
}

.gform_wrapper .gf_progressbar_percentage {
	border-radius: 6px 0 0 6px;
	background: none;
}

.gform_wrapper .gf_progressbar_percentage span {
	margin-top: 3px;
	line-height: 18px;
}


.gform_wrapper .gf_progressbar:after {
	box-shadow: none;
	border-radius: 6px;
}

.gform_wrapper .gf_progressbar_percentage.percentbar_100 {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}


/* Kleuren komen overeen met merk keluren - zie boven in css */
.gform_wrapper .gf_progressbar_percentage.percentbar_blue 	{ background-color: #2196F3; }
.gform_wrapper .gf_progressbar_percentage.percentbar_gray 	{ background-color: gray; }
.gform_wrapper .gf_progressbar_percentage.percentbar_green 	{ background-color: #767f22; }
.gform_wrapper .gf_progressbar_percentage.percentbar_orange { background-color: #df9a19; }
.gform_wrapper .gf_progressbar_percentage.percentbar_red 		{ background-color: #c10016; }




.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
	font: normal normal 12px/24px 'Palanquin', Arial, Helvetica, Verdana, sans-serif;
	color: #333333;
	margin: 0 0 8px 0 !important;
}


/* Hide the browser's default checkbox */
.gfield_radio input,
.gfield_checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.gform_wrapper .gfield_radio li label,
.gform_wrapper .gfield_checkbox li label {
	margin-left: 26px;
}



label {
	font-size: 1em;
	font-weight: 400;
}


/* Create a custom checkbox */
.gfield_checkbox label:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 18px;
	width: 18px;
	background-color: #eee;
	margin-left: 1px;
}

.gfield_radio label:before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
}

/* Create a custom radio */
.gfield_radio label:before {
	border-radius: 11px;
}

/* On mouse-over, add a grey background color */
.ginput_container .gfield_radio li:hover label:before,
.ginput_container .gfield_checkbox li:hover label:before {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.ginput_container .gfield_radio input:checked + label:before,
.ginput_container .gfield_checkbox input:checked + label:before {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.gfield_radio label:after,
.gfield_checkbox label:after {
	content: " ";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */
.ginput_container .gfield_radio input:checked + label:after,
.ginput_container .gfield_checkbox input:checked + label:after {
    display: block;
}


/* Style the checkmark/indicator */
.gfield_checkbox label:after{
	left: 6px;
	top: 1px;
	width: 8px;
	height: 12px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.gfield_radio label:after {
	left: 5px;
	top: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10px;
}