@charset "UTF-8";

@font-face {
  font-family: "arkin-icons";
  src:url("fonts/arkin-icons.eot");
  src:url("fonts/arkin-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/arkin-icons.woff") format("woff"),
    url("fonts/arkin-icons.ttf") format("truetype"),
    url("https://unity.lf4.nl/content/themes/Arkin/fonts/arkin-icons.svg#arkin-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "arkin-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "arkin-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arts:before {
  content: "\61";
}
.icon-medisch-dossier:before {
  content: "\62";
}
.icon-behandelaar:before {
  content: "\63";
}
.icon-telefoon:before {
  content: "\64";
}
.icon-email:before {
  content: "\65";
}
.icon-chat:before {
  content: "\66";
}
.icon-medisch-certificaat:before {
  content: "\67";
}
.icon-document:before {
  content: "\68";
}
.icon-behandelaar-alt:before {
  content: "\69";
}
.icon-locatie:before {
  content: "\6a";
}
.icon-kalender:before {
  content: "\6b";
}
.icon-neusdruppels:before {
  content: "\6c";
}
.icon-lsd:before {
  content: "\6d";
}
.icon-ghb:before {
  content: "\6e";
}
.icon-pil-plat:before {
  content: "\6f";
}
.icon-ketamine:before {
  content: "\70";
}
.icon-tabak:before {
  content: "\71";
}
.icon-ghb-reload:before {
  content: "\72";
}
.icon-gaming:before {
  content: "\73";
}
.icon-inhaler:before {
  content: "\74";
}
.icon-heroine:before {
  content: "\75";
}
.icon-doodshoofd:before {
  content: "\76";
}
.icon-neusspray:before {
  content: "\77";
}
.icon-alcohol:before {
  content: "\78";
}
.icon-medicijnen-doordruk:before {
  content: "\79";
}
.icon-fles:before {
  content: "\7a";
}
.icon-lijm:before {
  content: "\41";
}
.icon-zakje-heroine:before {
  content: "\42";
}
.icon-speed:before {
  content: "\43";
}
.icon-ghb-alt:before {
  content: "\44";
}
.icon-tube:before {
  content: "\45";
}
.icon-joint:before {
  content: "\46";
}
.icon-pillen-alt:before {
  content: "\47";
}
.icon-crackpijp:before {
  content: "\48";
}
.icon-hoestdrank-alt:before {
  content: "\49";
}
.icon-zakje-poeder:before {
  content: "\4a";
}
.icon-pillen:before {
  content: "\4b";
}
.icon-medicijnen:before {
  content: "\4c";
}
.icon-opium:before {
  content: "\4d";
}
.icon-paddos:before {
  content: "\4e";
}
.icon-cannabis:before {
  content: "\4f";
}
.icon-pil-capsule:before {
  content: "\50";
}
.icon-cocaine:before {
  content: "\51";
}
.icon-medicijnen-mix:before {
  content: "\52";
}
.icon-kaarten:before {
  content: "\53";
}
.icon-waterpijp:before {
  content: "\54";
}
.icon-xtc-alt:before {
  content: "\55";
}
.icon-hoestdrank:before {
  content: "\56";
}
.icon-zakje-pillen:before {
  content: "\57";
}
.icon-medicijnen-strip:before {
  content: "\58";
}
.icon-kaarten-alt:before {
  content: "\59";
}
.icon-xtc:before {
  content: "\5a";
}
