/*
Print style
Arkin Framework
05/2018
*/

/** ******************************** **/
/**      _____                       **/
/**    _(  _  )__________________    **/
/**   ( | (___)     | ____ |  _  |   **/
/**   |_|_______|_|_|______|_| |_|   **/
/**                                  **/
/**            www.lemon.nl          **/
/**                                  **/
/** ******************************** **/
@media print {
	.printonly { display: block; }
	.noprint { display: none !important; }
	
	
	body { font: normal normal 12px/18px 'Noto Sans', Arial, Helvetica, Verdana, sans-serif; color: #333333; }
	
	.button,
	.btn,
	.iframe,
	.onderdeel-van {
		display: none;
	}
	
	a[href]:after {
    content: none !important;
  }
  
  .headerwrapper,
  .topmenu-container {
  	padding: 0;
  	margin: 0;
  }
  
  .logo {
  	margin: 0 20px 30px 18px;
  }


}